.controls-container {
    width: 315px;
    justify-content: center;
    display: flex;
    align-items: center
}

.controls-container button {
    margin: 1rem;
    font-size: 1.2rem;
    height: 50px;
}

.blue {
    background-color: cornflowerblue;
}