body {
	font-family: Consolas;
	/* font: 14px "Century Gothic", Futura, sans-serif; */
	margin: 0px;
}

.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
    width: 100vw;
    background: #282828;
	color: white;
}

.status {
	margin-bottom: 10px;
}

.game-board {
	text-align: center;
}

button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: green;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
	vertical-align: middle;
}

td {
	height: 100px;
	width: 100px;
}
td:hover {
	cursor: pointer;
}

.square {
	background: rgb(219, 211, 211);
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
}

.square-x {
	color: #cd0404;
    background: #f19090b8;
}
.square-o {
	color: #0505c3;
    background: #8888d9d9;
}

.square:focus {
	outline: none;
}