
.scoreboardBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(8, 8, 8, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboardContainer {
    color: white;
    height: 750px;
    border-radius: 12px;
    background: #282828;
    border: 2.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
}

.scoreboardContainer .title {
    display: inline-block;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.scoreboardContainer hr {
    width: 100%;
}

.scoreboardContainer .title h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

table {
    border: 1px solid red;
    width: 100%;
}
td, th {
    border: 1px solid white;
}

.scoreboardContainer .body {
    font-size: 1.7rem;
    height: 100%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: auto;
}

.scoreboardContainer .body p {
    margin-top: 0;
}

.scoreboardContainer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}